/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
}
.container {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
}
.border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid black;
  z-index: -1;
}
